{
    "goTemplateBracketSpacing": true,
    "jsxSingleQuote": false,
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "parser": "go-template"
            }
        }
    ],
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all"
}
