<!DOCTYPE html>
<html lang="en" class="dark">
    {{- partial "head.html" . -}}
    <body class="scroll-smooth bg-gray-200 dark:bg-gray-800">
        <div class="container mx-auto min-h-screen">
            {{- partial "header.html" . -}}
            <div id="content">
                {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}

            {{ $scripts := resources.Get "js/script.js" }}
        </div>
        <script src="{{ $scripts.Permalink }}" type="text/javascript"></script>
    </body>
</html>
