<!DOCTYPE html>
<html lang="en" class="dark">
    {{- partial "head.html" . -}}
    <body
        class="w-screen overflow-y-auto overflow-x-hidden scroll-smooth bg-slate-200 dark:bg-slate-900"
    >
        <div class="container mx-auto min-h-screen">
            {{- partial "header.html" . -}}
            <div id="content">
                {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
        </div>

        {{ $scripts := resources.Get "js/script.js" }}
        <script src="{{ $scripts.Permalink }}" type="text/javascript"></script>
    </body>
</html>
