{{ define "main" }}
    <div class="h-[80vh]">
        <div
            class="flex h-4/5 flex-col items-center justify-center space-y-4 px-5 text-4xl text-slate-800 dark:text-slate-400"
        >
            {{ $image := resources.Get .Site.Params.image.profile }}
            {{ with $image }}
                <img
                    src="{{ $image.RelPermalink }}"
                    alt="logo"
                    class="m-5 h-28 w-28 rounded-full shadow-md transition duration-200 hover:scale-125"
                />
            {{ end }}
            <p
                class="items-center justify-center pb-3 text-2xl font-bold md:text-3xl"
            >
                <span>{{ .Site.Params.home.greeting }}, I'm</span>
                <span
                    class="p animate-fade-3 text-slate-900  dark:text-slate-500"
                    >{{ .Site.Params.home.name }}
                </span>
            </p>
            <div class="animate-fade-5 text-center text-base md:text-lg">
                {{ .Site.Params.home.shortDesc | markdownify }}
            </div>
        </div>
    </div>
{{ end }}
